/* header file for
hello\goodbye program */

int hello();
int goodbye();

#include "hello.h"

int main()
{
hello();
goodbye();
return 0;
}

#include <stdio.h>

int main()

{

printf ("Hello World \n");
return 0;

}

#include <stdio.h>
int hello()
{
printf("Hello World\n");
return 0;
}

#include <stdio.h>

int goodbye()

{
printf("Goodbye World\n");
return 0;
}
